# Ambiente Virtual
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribuição
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Sistema Operacional
.DS_Store
Thumbs.db

# Testes
.pytest_cache/

# Cobertura
.coverage
htmlcov/

# Logs
*.log

# Git
.git/
